body{
    background-image: url(Azul-verde.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.container-fluid{

    padding: 0px;
    margin: 0px;
    
}
.header{
    padding: 0px;
    margin: 0px;
    background-color:rgba(255, 255, 255, 0.5);
    color: black;
    padding-top: 8px;
    padding-bottom: 5px;
    box-shadow: 0px 1px 5px black;
    border: 0px;
}
.header_dos{
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 10px;
    border-radius: 16px;
    height: 30px;
    color: black;
    border: 0px;
    text-align: center;
}
/*Animaciones*/
.MENU{

	width: 100%;
	height:  50px;
	display: flex;
	perspective: 200px;
    margin: 0px;
    padding:0px;
}

.MENU ul{
	display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.MENU li{
   list-style: none;
   padding: 0px;
   margin: 0px;
   border-radius: 16px;
 } 
.MENU ul li ul li a{
    text-decoration: none; 
    color: black;
}
.MENU UL li{
    background-color:rgba(255, 255, 255, 0.5);
    height: 25px;
    width: 100px;
    box-shadow: 0px 1px 5px black;
    margin-top: 5px;

}
.MENU li:hover{
    background-color:rgba(0, 0, 0, 0.5);
	color: white;
    box-shadow: 0px 1px 5px black;
	cursor: pointer;
	transition: all 300ms;
    height: 25px;
    width: 100px;
}

.MENU ul li ul{
	*display: none;
	flex-direction: column;
	position: absolute;
	margin-top: 15px;
	transform: rotateY(240deg)scale(0);
	transition: all 1s;
}

.MENU ul li:hover > ul {
	transform: rotateY(0deg) scale(1);
	transition: all 1s;


}

.MENU ul li ul:before{
	content: '';
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 8px solid #262A2A;
	position:absolute;
	margin-top:-8px;
	margin-left:20;
}
/*Fin animaciones*/

.logo_uno{
    width: 300px;
}

.logo{
    width: 100px;
}
.content{
    padding: 0px;
    margin: 0px;
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px;
    border-radius: 16px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1.5px 5px black;
    border: 0px;

}
.content_one input{
    border-radius: 16px;
    border: 0px;
    margin-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
}
.content_two input{
    box-shadow: none;
    border-radius: 0px;
    border: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}
.carrera{
    width: 350px;
}

.content_one select{
    border-radius: 16px;
    border: 0px;
    margin-left: 10px;
    width: 200px;
}






.img_perfil{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 1px 5px black;
    border: 0px;
    padding-top: 85px;
    text-align: center;
}
.img_perfil strong{
    margin: 0px;
    padding: 0px;
}


.button{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.bt_enviar{
    box-shadow: 0px 1px 5px black;
    width: 400px;
    height: 30px;
    border-radius: 16px;
    border: 0px;
    background-image: url(Azul-verde.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin-top: 5%;
    color: white;
}

.new_profile{
    text-align: center;
    border-radius: 0px;
    width: 100%;
    background-image: url(Azul-verde.png);
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    border: 0px;
}
.img_file{
    margin-top: 150px;
}